.navbar {
  display: flex;
  align-items: center;
  padding: 2.4rem 4rem;

  &__logo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-right: 4rem;
  }
  &__options {
    list-style: none;
    position: relative;
    padding-left: 3rem;
    &::before {
      content: "";
      background: $light-grey;
      width: 2px;
      border-radius: 4px;
      top: 0.5px;
      bottom: 0.5px;
      left: 0px;
      position: absolute;
    }
  }
  &__option {
    text-decoration: none;
    display: inline-block;
    padding: 2px 1rem;
    border: 2px solid transparent;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__button {
    flex: 1;
    display: flex;
    justify-content: right;
  }
}
