.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: $white;
  border-bottom: 2px solid $light-grey;

  @include responsive(tablet-landscape) {
    padding: 2rem 2rem;
  }

  padding: 2.4rem 4rem;

  &__logo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-right: 4rem;
    @include responsive(phone-sm) {
      margin-right: 0rem;
      width: 15rem;
      img {
        width: 3rem;
      }
    }
  }
  &__options {
    list-style: none;
    position: relative;
    padding-left: 3rem;
    &::before {
      content: "";
      background: $light-grey;
      color: transparent;
      width: 2px;
      border-radius: 4px;
      top: 2px;
      bottom: 2px;
      left: 0px;
      position: absolute;
    }
    @include responsive(tablet-portrait) {
      display: none;
    }
  }
  &__option {
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    .link {
      padding: 2px 1rem;
    }
  }
  &__button {
    flex: 1;
    display: flex;
    justify-content: right;
  }
  &__menu {
    position: relative;
    border: none;
    width: 0;
    height: 0;
    cursor: pointer;
    visibility: hidden;
    display: none;
    @include responsive(tablet-portrait) {
      display: block;
      margin: 0.5rem 2.4rem;
    }
    &::before {
      content: "";
      width: 2.5rem;
      margin: 0px auto;
      height: 2px;
      display: block;
      border-radius: 10px;
      background-color: $dark-blue;
      transform: translateY(7px) translateX(-5px);
      transition: transform 0.2s;
      opacity: 1;
      visibility: visible;
    }
    &::after {
      content: "";
      width: 2.5rem;
      margin: 0px auto;
      height: 2px;
      display: block;
      border-radius: 10px;
      background-color: $dark-blue;
      transform: translateY(-3px) translateX(-5px);
      transition: transform 0.2s;
      visibility: visible;
    }

    &:checked {
      &::before {
        transform: translateY(0px) rotate(45deg);
      }
      &::after {
        transform: translateY(-2px) rotate(-45deg);
      }
    }

    @include responsive(tablet-portrait) {
      &:checked ~ &-full {
        visibility: visible;
        display: block;
        z-index: 1000;
      }
    }
  }

  &__menu-full {
    background-color: $white;
    height: calc(100vh - 8.2rem);
    width: 100vw;
    left: 0;
    top: 8.2rem;
    position: fixed;
    display: none;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    ul {
      list-style: none;
    }
    .navbar__apps-menu {
      border-bottom: 1px solid $light-grey;
    }
    .navbar__apps-list {
      margin-left: 2rem;
      padding: 2rem 0;
      > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    .navbar__responsive-options {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    .navbar__social-links {
      display: flex;
      gap: 2rem;
      fill: $grey-2;
    }
    .navbar__responsive-links {
      padding: 2rem 0;
      > *:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}
