.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 2.4rem 4rem;
  z-index: 1;
  background-color: $white;

  &__logo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-right: 4rem;
  }
  &__options {
    list-style: none;
    position: relative;
    padding-left: 3rem;
    &::before {
      content: "";
      background: $light-grey;
      color: transparent;
      width: 2px;
      border-radius: 4px;
      top: 2px;
      bottom: 2px;
      left: 0px;
      position: absolute;
    }
  }
  &__option {
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    .link {
      padding: 2px 1rem;
    }
  }
  &__button {
    flex: 1;
    display: flex;
    justify-content: right;
  }
}
