.rewards-section {
  position: relative;
  margin-bottom: 19.2rem;
  @include responsive(phone) {
    margin-bottom: 8rem;
  }

  &__header {
    @include center;
  }
  .heading-2 {
    @include center;
    width: 74rem;
    text-align: center;
    display: block;
    padding-top: 7.5rem;
    margin-bottom: 3.2rem;
    @include responsive(tablet-portrait) {
      margin-top: 4rem;
    }
    @include responsive(phone) {
      text-align: left;
      width: auto;
      padding: 0 5.6rem;
    }
  }
  .text {
    @include center;
    width: 77rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: $dark-grey;
    margin-bottom: 9.8rem;
    @include responsive(phone) {
      text-align: left;
      width: auto;
      padding: 0 2rem;
    }
  }
  &__pattern {
    position: absolute;
    top: -5rem;
    left: 50%;
    width: 94.3rem;
    transform: translateX(-50%);
    z-index: -1;
    @include responsive(tablet-portrait) {
      width: 70rem;
    }
    @include responsive(phone) {
      width: 100%;
    }
  }
  &__cards {
    @include center;
    max-width: 118.4rem;
    justify-content: space-between;
    position: relative;
    > *:not(:last-child) {
      margin-bottom: 3.2rem;
    }
    @include responsive(tablet-landscape) {
      max-width: 115rem;
      padding: 0rem 5rem;
    }
    @include responsive(tablet-portrait) {
      flex-direction: column;
      width: 100%;
    }
    @include responsive(phone) {
      max-width: 100%;
      padding: 0rem 2rem;
    }
  }
  &__avatar {
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    &--1 {
      top: 9rem;
      left: -8rem;
      width: 4rem;
      @include responsive(tablet-portrait) {
        right: 10rem;
        top: 0rem;
        left: auto;
      }
    }
    &--2 {
      width: 3.2rem;
      left: 30rem;
      top: 6rem;
      @include responsive(tablet-portrait) {
        left: auto;
        right: 30rem;
        top: 25rem;
      }
    }
    &--3 {
      width: 3.2rem;
      left: 35rem;
      bottom: 10rem;
      @include responsive(tablet-portrait) {
        right: 25rem;
        left: auto;
        bottom: 30rem;
      }
    }
    &--4 {
      width: 3.2rem;
      bottom: 11rem;
      right: 36rem;
      @include responsive(tablet-portrait) {
        right: 7rem;
        bottom: 45rem;
      }
    }
    &--5 {
      width: 4rem;
      bottom: -2rem;
      right: 8rem;
      @include responsive(tablet-portrait) {
        right: 5rem;
        bottom: 5rem;
      }
      @include responsive(phone) {
        display: none;
      }
    }
    &--6 {
      width: 3.24rem;
      right: -10rem;
      top: 10rem;
      @include responsive(tablet-landscape) {
        right: 1rem;
      }
      @include responsive(tablet-portrait) {
        right: 35rem;
        top: auto;
        bottom: 1rem;
      }
      @include responsive(phone) {
        display: none;
      }
    }
  }
  &__prop {
    position: absolute;
    z-index: 1;
    &--1 {
      bottom: 12rem;
      left: 25rem;
      @include responsive(tablet-landscape) {
        left: 34rem;
      }
      @include responsive(tablet-portrait) {
        visibility: hidden;
      }
      @include responsive(phone) {
        display: none;
      }
    }
    &--2 {
      right: 28rem;
      top: 10rem;
      @include responsive(tablet-landscape) {
        right: 34rem;
        width: 12rem;
      }
      @include responsive(tablet-portrait) {
        display: none;
      }
    }
    &--3 {
      top: 16rem;
      left: 28rem;
      @include responsive(tablet-landscape) {
        width: 15rem;
        left: 30rem;
      }
      @include responsive(tablet-portrait) {
        display: none;
      }
    }
    &--4 {
      right: -6rem;
      bottom: 5.5rem;
      @include responsive(tablet-landscape) {
        right: 0rem;
      }
      @include responsive(tablet-portrait) {
        display: none;
      }
      @include responsive(phone) {
        display: block;
        right: auto;
        left: 0%;
        bottom: 0;
        max-width: 100%;
      }
    }

    &--5 {
      display: none;
      @include responsive(tablet-portrait) {
        display: block;
        top: 30%;
        left: 8%;
        height: 6rem;
      }
    }
    &--6 {
      display: none;
      @include responsive(tablet-portrait) {
        display: block;
        top: 63%;
        left: 8%;
      }
    }
  }
}
