.button {
  background-color: $primary;
  border: 2px solid $primary;
  padding: 0rem 2.2rem;
  border-radius: 1.2rem;
  color: $white-2;
  font-family: inherit;
  line-height: 2.4rem;
  font-weight: bolder;
  font-size: 1.6rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s, background 0.2s, border-color 0.2s, 0.2s fill;

  &--small {
    font-size: 1.4rem;
    padding: 0rem 1.4rem;
    height: 4rem;
  }
  &:hover {
    cursor: pointer;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
  &--light {
    background-color: $white-2;
    color: $dark-blue;
    fill: $dark-blue;
    border: 2px solid $white-2;
    &:hover {
      color: $primary;
      fill: $primary;
      background-color: #fff;
      background: #fff;
      border: 2px solid $white-2;
    }
  }
  &--video {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 26px;
    height: 6.4rem;
    border: none;
    @include responsive(tablet-landscape) {
      // left: 10%;
      height: 5.6rem;
    }
    &::before {
      content: "";
      position: absolute;
      border-radius: 1.2rem;
      width: 100%;
      height: 100%;
      border: 2px solid $white-2;
      background-color: $white-2;
      box-shadow: 0 10px 100px 2.5px $dark-grey;
      transition: 0.2s transform;
      z-index: -1;
    }

    &:hover {
      background-color: transparent;
      border: none;
      &::before {
        border: 2px solid $white-2;
        transform: scale(0.97);
      }
    }
  }
}
