.dropdown {
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    fill: $dark-grey;
    svg {
      transition: fill 0.2s, transform 0.2s;
      margin-left: 4px;
      fill: inherit;
    }
  }

  &:hover {
    .dropdown__header {
      fill: $dark-blue;
      svg {
        transform: rotate(180deg);
      }
    }
    .dropdown__menu {
      opacity: 1;
      display: block;
      box-shadow: 0 0px 40px 1px rgba($dark-grey, 0.2);
      margin: 2px solid $light-grey-2;
    }
  }

  &__menu {
    background-color: white;
    padding: 1rem 1rem;
    min-width: 28.6rem;
    border-radius: 2rem;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
    font-weight: 600;
    line-height: 2.4rem;
  }
  &__menu-container {
    position: absolute;
    left: -2rem;
    padding-top: 2.5rem;
  }
  &__list {
    list-style: none;
  }
  &__option {
    display: flex;
    align-items: center;
    fill: $grey-2;
    border-radius: 1rem;
    padding: 1rem;
    svg {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $light-grey-2;
      cursor: pointer;
    }
  }
}
