.reward-card {
  border-radius: 2.4rem;
  width: 32rem;
  height: fit-content;
  padding: 4rem;

  @include responsive(tablet-landscape) {
    max-width: 30.6rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 3.1rem;
  }
  &__title {
    margin-bottom: 1.2rem;
  }
  &__text {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  &__image {
    width: 24rem;
    height: 6.4rem;
    border-radius: 1.4rem;
    box-shadow: 0 0px 40px 1px rgba($dark-grey, 0.2);
  }
  &--1 {
    background-color: $bg-card1;
    transform: translateY(4.8rem);
  }
  &--2 {
    background-color: $bg-card2;
    transform: translateY(10.4rem);
  }
  &--3 {
    background-color: $bg-card3;
  }
  @include responsive(tablet-portrait) {
    width: 100%;
    max-width: 100%;
    transform: translateY(0);
  }
}
