@font-face {
  font-family: "Roobert";
  src: url("../../../assets/Roobert-SemiBold.woff2") format("woff2"),
    url("../../../assets/Roobert-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roobert", sans-serif;
  /* 1rem = 10px */
  font-size: 62.5%;
}
