.container {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0 6.4rem;
  @include responsive(tablet-landscape) {
    padding: 0 2rem;
  }
  @include responsive(phone-sm) {
    padding: 0 1rem;
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
